@import "./reset.css";

/* Typography */

body {
  font-family: "Trebuchet MS", "Lucida Sans", Arial, sans-serif;
}

h1,
h2 {
  margin-bottom: 1rem;
}

/* Buttons */

button {
  padding: 0.25rem 0.5rem;

  text-transform: uppercase;
  font-size: 0.725rem;
}

/* Total */

.total-section {
  padding: 0.5rem 1rem;

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.total-number {
  font-weight: bold;
}

@media only screen and (max-width: 450px) {
  .total-section {
    border-top: 2px solid #00675b;
    border-bottom: 2px solid #00675b;
  }
}

/* Filters */

.filters {
  text-align: center;
}

.filters input {
  scale: 1.5;
  margin: 1rem
}

.margin-left {
  margin-left: 2rem;
}